
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color:#f0f0f0;
}
/* Navbar */
.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #be3144;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
}

li {
    display: block;
    text-align: right;
    padding: 2.5rem; 
    font-size: 2.8rem;
    margin:0;
}

li:hover {
    background-color: #45567d;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list {
    display: flex;
    margin-right: 2rem;
}

/* navbar ends */
 /* section1 */
 .section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}
h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 6rem;
}
.section1 > p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: #be3144;
}
/* section1 ends */

/* section2 */
.slider-container {
    width: 100%;
    height: 1500px;
    position: relative;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin-bottom: 6rem;
}

.card {
    margin: 1rem;
    margin-bottom: 50px;
    margin-top: 50px;
    box-sizing: border-box;
}

.section2 {
    text-align: center;
    padding: 10rem 0 10rem 0;
    background: #45567d;
    width: 100%;
}

.section2-heading {
    max-width: 1000px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid #f0f0f0;
}

h2 {
    font-size: 4.2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
}

.section-card {
    font-size: 2rem;
    padding: 2rem 0.5rem;
    flex: 1;
}

a {
    text-decoration: none;
    color: #f0f0f0;
}

.section2-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}

.code {
    display: none;
}

.card:hover .code {
    display: inline;
    color: darkorange;
}
.slider{
    text-align: center;
    font-size: 1rem;

}
.btn-show-all {
    font-size: 1rem;
    background: #303841;
    transition: #303841 0.3s ease-out;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
    font-weight: 700;
}

.btn-show-all:hover {
    background-color: #be3144;
}

/* Contact */
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    /* padding: 0 2rem; */
    background: #303841;
}
.contact-header > p {
    font-style: italic;
}
.contact-links {
     display: flex; 
    justify-content: center; 
    width: 100%;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}
.contact-details:hover {
    transform: translateY(25px);
}
.fa-facebook-square:before {
    content: "\f082";
}
.fa-github:before {
    content: "\f09b";
}
.fa-twitter:before {
    content: "\f099";
}
.fa-at:before {
    content: "\f1fa";
}
.fa-mobile-alt:before {
    content: "\f3cd";
}
.fab {
    font-family: "Font Awesome 5 Brands";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    padding-right: 12px;
}

/* footer */
footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: #303841;
    border-top: 4px solid #be3144;
}
footer > p {
    margin: 2rem;
}


